$font-family: sans-serif;
$font-family-headings: serif;

// http://www.w3schools.com/colors/colors_picker.asp
$blue: #0066ff;
$blue-medium: #4d94ff;

$black: #000;

$gray: #383838;
$gray-light: #e8e8e8;
$gray-medium: #c8c8c8;
$white: #fff;

// https://icons8.com/web-app/5568/search
$icon-search: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAB60lEQVQ4T6VUwXHbMBC8o0b8yh1YrsBWBbEqiFKB+RAw+kWuwEkF4VMD8EFVYKUCyx2oA7MDO1+Cg/OsBvRQFEnPOHiRuOPe3t4tmVpntVpNvfd3InLbCBUissuy7G87v/3OzQulVMrMP4non4jsmflARFMiuiGia9wR0b21Fved5wNQKQWAb0T02xjzq529XC5voyhKReSSiOZ9oEfAmpmIzIaqJ0lyEccxWE7Kspzlef521nLQ7KWPWY/GaDnt6oS11mhvbYy5+EzwOh46+m6MuTpjCO2I6M1au1BKJdba/DNgrfWCiB6jKLrabDZFM5/DMPagj2fn3KJLm+ZHYUBP3vt5lmUg9HFqwMIYkwTwnTEmHWI5CKi1zkXk2lo701qvReRhaC1QCHlE9McYc7LHiGEoRz1Av6qqw3g8xgQnzIxBbbuYKqUKZoZMSadTwmAmzrk5EuI4Rst3RATBn8uyXNe6hq146NvZerFvUFFEXkaj0Y96cljk5oAaYHtr7bF4r5eVUvDrLrSbe+9hxdoJKAjdpiLyHCxKIoL4iQ1PRA3WwmASZoZnm2crIqlzrojj+LUOtEHPplQnwpJVVeFPQ+1d01qD2aQLtBdwaA8hDzTvAv0SIIr1gB6+DNgDuv0vwAYofigH7Os7v6Alg76JDUQAAAAASUVORK5CYII=";