.icon-play {
  background-image: url( $icon-play );
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 500ms;
}

.icon-play.clicked {
  cursor: default;
  opacity: 0;
}
